<div class="container">
  <div>
    <div *ngFor="let seccion of secciones">
      <div>
        <div>
          descripcion de seccion
        </div>
        <div>
          {{seccion.descripcion}}
        </div>
        <div>
          <button (click)="edit(seccion)" class="">
            <i class="fas fa-edit fa-2x"></i>
          </button>
        </div>
        <div>
          <button (click)="delete(seccion)" class="">
            <i class="fas fa-trash-alt fa-2x"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
