<div class="container">
  <h1 *ngIf="articuloSeleccionado">{{articuloSeleccionado.titulo}}</h1>
  <hr>
  <form [formGroup]="formularioArticuloEdit" class="p-grid">
    <!-- ID -->
    <div class="form-group p-col-3 p-sm-3">
      <span class="ui-float-label">
        <input type="text" name="id" id="id" class="form-control" formControlName="id" pInputText>
        <label for="float-input">ID</label>
      </span>
    </div>
    <!-- TITULO -->
    <div class="form-group p-col-12">
      <span class="ui-float-label">
        <input class="form-control" formControlName="titulo" id="titulo" type="text" pInputText>
        <label for="float-input">Título - *obligatorio</label>
      </span>
      <div style="margin-top: 10px;"
        *ngIf="formularioArticuloEdit.get('titulo').hasError('required') && formularioArticuloEdit.get('titulo').dirty">
        <p-message severity="error" text="Título obligatorio"></p-message>
      </div>
    </div>
    <!-- DESCRIPCION -->
    <div class="form-group p-col-12 p-md-6">
      <span class="ui-float-label">
        <input class="form-control" formControlName="desc" id="desc" type="text" pInputText>
        <label for="float-input">Descripción</label>
      </span>
    </div>
    <!-- FECHA -->
    <div class="form-group p-col-12 p-md-6">
      <span class="ui-float-label">
        <p-calendar dateFormat="dd/mm/yy" formControlName="fecha" [locale]="es"></p-calendar>
        <label for="float-input">Fecha de creación</label>
      </span>
      <div class="mt-2 mb-2" style="margin-top: 10px;"
        *ngIf="formularioArticuloEdit.get('fecha').hasError('required') && formularioArticuloEdit.get('fecha').touched ">
        <p-message severity="error" text="Fecha de creación"></p-message>
      </div>
    </div>
    <!-- ARTICULO -->
    <div class="form-group p-col-12">
      <label for="float-input">Artículo</label>
      <!-- <p-editor formControlName="articulo" id="articulo" [style]="{'height':'320px'}"></p-editor> -->
      <div [froalaEditor] formControlName="articulo" id="articulo">Hello, Froala!</div>
      <div style="margin-top: 10px;"
        *ngIf="formularioArticuloEdit.get('articulo').hasError('required') && formularioArticuloEdit.get('articulo').dirty">
        <p-message severity="error" text="Artículo obligatorio"></p-message>
      </div>
    </div>
    <!-- ETIQUETAS -->
    <div class="form-group p-col-12">
      <span class="ui-float-label">
        <input class="form-control" formControlName="etiquetas" id="etiquetas" type="text" pInputText>
        <label for="float-input">Etiquetas</label>
      </span>
    </div>
    <!-- USUARIO -->
    <div class="form-group p-col-8" *ngIf="canShowUsuarios()">
      <p-listbox [options]="usuarios" formControlName="id_usuario" checkbox="checkbox" filter="filter" optionLabel="nombre">
        <p-header>
          <i class="fa fa-user"></i>
          <span style="margin-left: 5%">Elige un usuario</span>
        </p-header>
      </p-listbox>

      <div style="margin-top: 10px;"
        *ngIf="formularioArticuloEdit.get('id_usuario').hasError('required') && formularioArticuloEdit.get('id_usuario').dirty">
        <p-message severity="error" text="Debes elegir un usuario"></p-message>
      </div>
    </div>
    <!-- BOTONES -->
    <div class="form-group p-col-12">
      <div class="p-grid">
        <button type="submit" class="btn btn-success p-col p-align-center" (click)="editArticulo()"
          [disabled]="!formularioArticuloEdit.valid">Guardar</button>
        <button class="btn btn-danger p-col p-align-center" (click)="_location.back()">Cancelar</button>
      </div>
    </div>
  </form>
</div>