.container {
    background-color: rgba(160, 248, 211, 0.918);
    /* background: rgba(145, 249, 229, 0.733); */
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    padding: 2%;
}

#tituloAnuncio {
    font-family: 'Libre Baskerville', serif;
    padding-left: 0px;
    text-align: center;
    margin-top: 0px;
}

#cuerpoAnuncio, #descripcion{
    margin-top: 2%;
}

#cuerpoAnuncio{
    background: rgba(218, 245, 255, 0.418);
    border-radius: 2% 1%;
    height: 70%;
    margin-top: 0;
}

#fecha{
    padding: 2%;
    margin-top: 2%;
}

#volver{
    margin-top: 2%;
    margin-right: 0.2%;
    padding: 0;
}

#usuario{
    text-align: right;
    padding: 2%;
    margin-top: 2%;
}

@media(max-width: 992px){
    #fecha{
        margin-top: 3%;
    }
    
    #cuerpoAnuncio{
        height: 60%;
    }
}
@media(max-width: 768px){
    #fecha{
        margin-top: 5%;
    }

    #cuerpoAnuncio{
        height: 55%;
    }
}

@media (max-width: 640px){
    #usuario{
        display: none;
    }
}