<div class="container">
  <h1>Crear nuevo usuario</h1>
  <hr>
  <form [formGroup]="formularioUsuarioNew" class="p-grid">
    <!-- NOMBRE -->
    <div class="form-group" class="p-col-12">
      <span class="ui-float-label">
        <input class="form-control" formControlName="nombre" id="nombre" type="text" size="30" pInputText>
        <label for="float-input">Nombre - *obligatorio</label>
      </span>
      <div style="margin-top: 10px;"
        *ngIf="formularioUsuarioNew.get('nombre').hasError('required') && formularioUsuarioNew.get('nombre').dirty">
        <p-message severity="error" text="Nombre obligatorio"></p-message>
      </div>
    </div>
    <!-- PRIMER APELLIDO -->
    <div class="form-group p-col-12 p-md-6">
      <span class="ui-float-label">
        <input class="form-control" formControlName="ape1" id="ape1" type="text" size="30" pInputText>
        <label for="float-input">Primer apellido - *obligatorio</label>
      </span>
      <div style="margin-top: 10px;"
        *ngIf="formularioUsuarioNew.get('ape1').hasError('required') && formularioUsuarioNew.get('ape1').dirty">
        <p-message severity="error" text="Primer apellido obligatorio"></p-message>
      </div>
    </div>
    <!-- SEGUNDO APELLIDO -->
    <div class="form-group p-col-12 p-md-6">
      <span class="ui-float-label">
        <input class="form-control" formControlName="ape2" id="ape2" type="text" size="30" pInputText>
        <label for="float-input">Segundo apellido</label>
      </span>
    </div>
    <!-- FECHA NACIMIENTO -->
    <div class="form-group p-col-12">
      <span class="ui-float-label">
        <p-calendar dateFormat="dd/mm/yy" formControlName="fecha_nacimiento" [locale]="es" size="30"></p-calendar>
        <label for="float-input">Fecha de nacimiento</label>
      </span>
      <div class="mt-2 mb-2" style="margin-top: 10px;"
        *ngIf="formularioUsuarioNew.get('fecha_nacimiento').hasError('required') && formularioUsuarioNew.get('fecha_nacimiento').touched ">
        <p-message severity="error" text="Fecha de nacimiento obligatoria"></p-message>
      </div>
    </div>
    <!-- LOGIN -->
    <div class="form-group p-col-12 p-md-6">
      <span class="ui-float-label">
        <input class="form-control" formControlName="login" id="login" type="text" size="30" pInputText>
        <label for="float-input">Login</label>
      </span>
      <div style="margin-top: 10px;"
        *ngIf="formularioUsuarioNew.get('login').hasError('required') && formularioUsuarioNew.get('login').dirty">
        <p-message severity="error" text="Login obligatorio"></p-message>
      </div>
    </div>
    <!-- PASS -->
    <div class="form-group p-col-12 p-md-6">
      <span class="ui-float-label">
        <input class="form-control" formControlName="pass" id="pass" type="password" size="30" pInputText>
        <label for="float-input">Password</label>
      </span>
      <div style="margin-top: 10px;"
        *ngIf="formularioUsuarioNew.get('pass').hasError('required') && formularioUsuarioNew.get('pass').dirty">
        <p-message severity="error" text="Password obligatoria"></p-message>
      </div>
    </div>
    <!-- EMAIL -->
    <div class="form-group p-col-12">
      <span class="ui-float-label">
        <input class="form-control" formControlName="email" id="email" type="text" size="30" pInputText>
        <label for="float-input">Email</label>
      </span>
      <div style="margin-top: 10px;"
        *ngIf="formularioUsuarioNew.get('email').hasError('email') && formularioUsuarioNew.get('email').dirty">
        <p-message severity="error" text="Formato de email no válido"></p-message>
      </div>
    </div>
    <!-- CONFIRMADO -->
    <div class="form-group p-col-4">
      <p style="display: inline-block; margin-right: 2.8%;">Confirmado </p>
      <p-inputSwitch formControlName="confirmado" id="confirmado"></p-inputSwitch>
    </div>
    <!-- TIPO DE USUARIO -->
    <div class="form-group p-col-8">
      <label for="tipousuarios" style="margin-right: 5%">Tipo de usuario:</label>
      <p-selectButton [options]="tipousuarios" optionLabel="desc" formControlName="id_tipo_usuario"
        id="id_tipo_usuario">
      </p-selectButton>
      <div style="margin-top: 10px;"
        *ngIf="formularioUsuarioNew.get('id_tipo_usuario').hasError('required') && formularioUsuarioNew.get('id_tipo_usuario').dirty">
        <p-message severity="error" text="Debes elegir un tipo de usuario"></p-message>
      </div>
    </div>
    <!-- BOTONES -->
    <div class="form-group p-col-12">
      <div class="text-center p-grid">
        <button type="submit" class="btn btn-success p-col p-align-center" (click)="createUsuario()"
          [disabled]="!formularioUsuarioNew.valid">Save</button>
        <button class="btn btn-danger p-col p-align-center"
          [routerLink]="['/admin/mantenimiento/usuario']">Cancelar</button>
      </div>
    </div>
  </form>
</div>