<div class="row">
  <button class="btn btn-primary col-md-2" style="margin: 2% 1.3%" [routerLink]="['/admin/mantenimiento/usuarionew']">
    <i class="pi pi-plus-circle">Crear</i>
  </button>
</div>
  <!-- Diálogo de confirmación -->
  <p-confirmDialog icon="pi pi-exclamation-triangle"></p-confirmDialog>

  <!-- Mensajes (añadido/eliminado correctamente, etc) -->
  <p-toast position="top-center"></p-toast>
  
<div class="table-responsive" style="width: 100%">

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Tipo de usuario</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Fecha nacimiento</th>
        <th scope="col">Fecha de alta</th>
        <th scope="col">Login</th>
        <th scope="col">Email</th>
        <th scope="col">Confirmado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <th>{{ usuario.id }}</th>
        <td>{{ usuario.id_tipo_usuario.desc }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.ape1 }} {{ usuario.ape2 }}</td>
        <td>{{ formatDate(usuario.fecha_nacimiento) }}</td>
        <td>{{ formatDate(usuario.fecha_alta,true) }}</td>
        <td>{{ usuario.login }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.confirmado }}</td>
        <td>
          <i class="pi pi-eye acciones" [routerLink]="['/admin/mantenimiento/usuarioview/'+usuario.id]"></i>
          <i class="pi pi-pencil acciones" [routerLink]="['/admin/mantenimiento/usuarioedit/'+usuario.id]"></i>
          <i class="pi pi-trash acciones" (click)="confirm(usuario)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>