#tituloApartadoAnuncios{
    text-align: center;
    margin: 20px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

.titulosAnuncios{
    font-family: 'Libre Baskerville', serif;
    padding-left: 0px;
    margin-bottom: 0px;
}

.editIcon{
    text-align: left
}

.container{
    background: rgba(173, 252, 249, 0.6);
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    padding: 30px;
}

.anuncio{
    padding: 2%;
    background-color: rgba(236, 255, 251, 0.8);
    border: 8px ridge rgb(89, 201, 165);
    border-radius: 0px 40px 0px 40px;
    margin: 5%;
}

.buttonVerAnuncio{
    margin: 10px;
    background-color: #7EA172 !important;
    border: 1px solid #7EA172 !important;
}

[id^=fechaAnuncioN], .editIcon{
    margin-top: 2.5%;
}

@media(max-width: 961px){
    [id^=fechaAnuncioN], .editIcon{
        margin-top: 3%;
    }
    .editIcon{
        font-size: 1.5em;
    }
}

@media(max-width: 768px){
    [id^=fechaAnuncioN], .editIcon{
        margin-top: 7%;
    }
}
