<div class="container">
  <div>
    <div *ngFor="let tipousuario of tipousuarios">
      <div>
        <div>
          descripcion de tipousuario
        </div>
        <div>
          {{tipousuario.descripcion}}
        </div>
        <div>
          <button (click)="edit(tipousuario)" class="">
            <i class="fas fa-edit fa-2x"></i>
          </button>
        </div>
        <div>
          <button (click)="delete(tipousuario)" class="">
            <i class="fas fa-trash-alt fa-2x"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
