/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    margin: 0;
}


/* tabs activos */
.ui-state-active{
    background: #59c9a5 !important;
    border: 1px solid #59c9a5 !important;
    /* border: 1px solid #79c99e !important; */
}

/* Barra de scroll para el div de los anuncios del home */
.home-anuncios-bar .ui-scrollpanel-wrapper {
    border-right: 9px solid #f4f4f4;
}

.home-anuncios-bar .ui-scrollpanel-bar {
    background-color: rgb(90, 245, 137);
    opacity: 1;
    transition: background-color .3s;
}

.home-anuncios-bar .ui-scrollpanel-bar:hover {
    background-color: rgb(49, 146, 78);
    ;
}
